{% include 'header.html' %}

<div class="container">
    <div class="row">
        <div
            class="col-6" >
        <div class="card">
            <div class="card-body">
                <div
                    class="table-responsive"
                >
                    <table
                        class="table table-primary"
                    >
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Title</th>
                                <th scope="col">Content</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="">
                                <td scope="row">R1C1</td>
                                <td>R1C2</td>
                                <td>R1C3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
           
            </form>
            </div>
        </div>
            



        </div>
        <div
            class="col-6">
    <div class="card">
        <div class="card-header"></div>
        <div class="card-body">
            <h4 class="card-title">What did you learn today</h4>
            <form action=" /create/post" method="POST">
                
                <input type="text"  class="form-control"   name="title" id="title" placeholder="Title" required>
                <br>
                <textarea type="text" name="content" class="form-control" id="content" placeholder="Content" required></textarea>
                <br>
                <button type="submit" class=" btn btn-primary">Create</button>
            </form>
    
        </div>
        <div class="card-footer text-muted"></div>
    </div>

        </div>
        
    </div>
</div>














{% include 'footer.html' %}